<div class="header">
    <div class="row">
        <div class="col col-lg-1"></div>
        <div class="col align-self-start titleLink">
            <a href=""> SAMOCHODOWO </a>
        </div>
        <div class="col col-lg-1"></div>
        <div class="col d-flex flex-row-reverse">
            <a routerLink="addAdvertisment" class="btn btn-primary">Dodaj ogłoszenie</a>
            <a href="" class="button-link">Zaloguj się | Zarejestruj się</a>
            <a href="" class="button-link">Obserwowane</a>
        </div>
    </div>
</div>
