.content-container {
  margin: 25px auto 30px auto;

  .carBaseElement {
    margin-top: 10px;
  }

  .price {
    color: #742222
  }

  .buttons-section button{
    margin: 5px;
  }

  .car-main-img {
    border-radius: 7px;
    margin: 5px;
    width: 100%;
    height: 100%;
  }
}
